# ==========================
# Python Bytecode
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# Virtual Environments
# ==========================
venv/
.venv/
env/

# ==========================
# Jupyter Notebook
# ==========================
.ipynb_checkpoints/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Operating System Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Python Packaging
# ==========================
build/
dist/
*.egg-info/

# ==========================
# Log Files
# ==========================
*.log

# ==========================
# Temporary Files
# ==========================
*.tmp
*.temp

# ==========================
# Environment Variables
# ==========================
.env